# System
.DS_Store

# VS Code
.vscode/*
*.code-workspace
!.vscode/launch.json
!.vscode/settings.json
!.devcontainer/*

# Visual Studio
library/AzOps/.vs/*
library/AzOps/AzOps/bin/*
library/AzOps/AzOps/obj/*
.vs/*

# PowerShell Studio
AzOps/AzOps.psproj
AzOps/AzOps.psproj.bak
AzOps/AzOps.psprojs
AzOps/AzOps.psproj

# Results
TestResults/*
results/*

# Publishing
publish/*

# Generated
azops/*
root/*
partialmgdiscoveryroot/*

# Debug
**.private**
debug/*
