# System
.DS_Store

# VSCode
.vscode/*
*.code-workspace
*.psproj
*TempPoint*
.devcontainer/*

# Visual Studio
library/AzOps/.vs/*
library/AzOps/AzOps/bin/*
library/AzOps/AzOps/obj/*
.vs/*

# PowerShell Studio MetaData
AzOps/AzOps.psproj
AzOps/AzOps.psproj.bak
AzOps/AzOps.psprojs
AzOps/AzOps.psproj

# TestResults
TestResults/*

# Publishing
publish/*

# Generated
azops/*

# Debug
**.private**
debug/*
