#Debug
**.private**
debug.ps1

#DSStore
.DS_Store

#VS
.vs

#VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

#Jupyter Notebook checkpoints
**/.ipynb_checkpoints/*

#AzOps
azops/*
