---
name: "Release"

on:
  release:
  workflow_dispatch:

jobs:
  release:
    name: "Release"
    runs-on: ubuntu-20.04
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v2

      - name: 'Release'
        run: .\scripts\Release.ps1 -ApiKey ${{ secrets.PWSH_GALLERY }}
        shell: pwsh